$variable : rgba(163,174,134,.9);

.class {
  color: $variable;
}

@mixin flexbox() {
   display: -webkit-box;
   display: -moz-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
 }

 @mixin flex($values) {
   -webkit-box-flex: $values;
   -moz-box-flex:  $values;
   -webkit-flex:  $values;
   -ms-flex:  $values;
   flex:  $values;
 }

 @mixin order($val) {
   -webkit-box-ordinal-group: $val;
   -moz-box-ordinal-group: $val;
   -ms-flex-order: $val;
   -webkit-order: $val;
   order: $val;
 }

 .flexbox {
   @include flexbox();
   justify-content: space-between;
   flex-wrap: wrap;
   flex-direction: row;
 }

 .flex {
   @include flex(1 300px);
   height: 100px;
   margin: 10px;
   text-align: center;
 }

 .selected {
   color: red;
 }
